* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;

}

.headerIMG {
    width: 100%;
}

.title-image h1 {
    border: 5px solid whitesmoke;
    position: static;
    top: 40%;
    left: 35%;
    font-size: 5rem;
    padding: 20px;
    color: black;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.items {

    font-size: 20px;
    padding: 10px;
    background-color: rgb(175, 151, 151);
    color: #fff;
    padding: 20px;
    border: rgb(0, 0, 0) 5px solid;


}

h1 {
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:800px) {
    .title-image h1 {
        font-size: 2rem;
        padding: 10px;
        top: 30%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .items {
        font-size: 20px;
        padding: 10px;
    }

    h1 {
        padding: 10px;
    }

    /* img {
        width: 300px;
        height: 300px;
    } */
}

@media screen and (max-width:400px) {
    .title-image h1 {
        font-size: 2rem;
        padding: 10px;
        top: 30%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .items {
        font-size: 20px;
        padding: 10px;
    }

    h1 {
        padding: 10px;
    }


}