* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(218, 236, 250);
}

body {
    /* font-family: 'Handlee', cursive; */
    font-family: 'Cairo', sans-serif;
}

/* HERO IMAGE/HERO TEXT IS HERE */

.hero-image {
    background-image: linear-gradient(rgba(4, 9, 0, 0.2), rgba(4, 9, 0, 0.5)), url("JP-images/holdingflower.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: black;
    border-bottom: 5px solid #030303;

}

.mainH1 {
    font-size: 300px;
    position: static;
    top: 10%;
    color: white;
    max-height: 80%;

}

.hero-image p {
    color: white;
    position: static;

}


/*  NAVIGATION BAR STARTS HERE*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.9);
    /* color: rgb(255, 157, 10); */
    font-family: 'Handlee', cursive;
    font-size: 1.2rem;
}


/* LINKS TO NAV */
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: rgb(242, 247, 248);
    padding: 1rem;
    display: block;

}

.navbar-links li:hover {
    background-color: rgb(53, 160, 197);
}


/*BUTTONS THAT ARE MOBILE RESPONSIVE  */
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(148, 207, 255);
    border-radius: 10px;

}

/*  @ MEDIA ALLOWS DISPLAY TO BE BETTER ACCESSIBLE FOR SMALLER SCREENS*/
@media screen and (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }



}

li {
    list-style: none;
}

a:link {
    text-decoration: none;

    color: blanchedalmond;
    /*REMOVES UNDERLINE DECORATION*/
}

a:visited {
    text-decoration: none;
    color: blanchedalmond;
}

header {
    text-align: center
}

/* .......END OF NAV...... */

/* RESPONSIVE VIDEO IS BELOW */


.containerForVideo span {
    color: rgb(0, 114, 152);
}

.header2 {
    border: 5px solid whitesmoke;
    position: static;
    top: 40%;
    left: 35%;
    font-size: 2rem;
    padding: 20px;
    color: black;
}

.videoHomePage {
    width: 820;
    height: 640;
}

.textBelowVideo {
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 10px;
    font-size: 20px;
    text-align: left;
}

@media screen and (max-width:800px) {
    .videoHomePage {
        width: 420;
        height: 340;
    }

    .mainH1 {
        font-size: 200px;
        top: 50px;
        /* color: rgba(1, 158, 255, 0.5) */
        color: rgba(255, 255, 255, 0.7)
    }

    .textBelowVideo {
        padding: 0;
    }

}

@media screen and (min-height:200px) {


    .mainH1 {
        font-size: 50px;
        top: 5%;
        /* color: rgba(1, 158, 255, 0.5) */
        color: rgba(255, 255, 255, 0.7)
    }


}

@media screen and (min-height:400px) {


    .mainH1 {
        font-size: 200px;
        top: 5%;
        /* color: rgba(1, 158, 255, 0.5) */
        color: rgba(255, 255, 255, 0.7)
    }



}

/* END OF VIDEO SECTION */

/*.............section for TESTIMONIALS....................... */
.containerForTestimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;

}

.testimonial1 img,
.testimonial2 img,
.testimonial3 img {
    width: 250px;
    height: 250px;
}

.testimonial1,
.testimonial2,
.testimonial3 {

    font-size: 20px;
    padding: 10px;
    /* background-color: rgb(0, 93, 170); */
    /* background-color: #3498db; */
    color: rgb(0, 0, 0);
    padding: 20px;
    /* border: rgb(0, 0, 0) 5px solid; */
    /* border-radius: 30px; */
    height: 600px;

    /* remove border and add picture */
}

/* ........SECTION FOR API BEGINS HERE....... */

.sectionForAPI {
    background-color: #3498db;
}



/* --------------FOOTER STARTS HERE--------------------*/





footer {
    position: static;
    bottom: 0;

}

@media (max-height:800px) {
    footer {
        position: static;
        bottom: 0;

    }

    header {
        padding-top: 40px;
    }



}



.footer-responsive {
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    widows: 100%;
    text-align: center;
    font: bold 16px san-serif;
    padding: 10px 10px 20px 10px;
    margin-top: 80px;
}

.footer-responsive .footer-left,
.footer-responsive .footer-center,
.footer-responsive .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-responsive .footer-left {
    width: 30%;
}

.footer-responsive h3 {
    color: white;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}

/* .footer-responsive h3 span{
    color:
} */
.footer-responsive .footer-links {
    color: white;
    margin: 20px 0 12px;
}

.footer-responsive .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-responsive .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-responsive .footer-center {
    width: 35%;
    font-family: 'Cairo', sans-serif;

}

.address,
.phone,
.email {
    background-color: rgb(113, 170, 188);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}


.address,
.phone,
.email {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 17px;
    line-height: 38px;
    text-align: center;
}

.footer-responsive .footer-center p {
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
}






.footer-responsive .footer-right {
    width: 30%;

}

.footer-responsive .footer-about {
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

.footer-responsive .footer-about span {
    display: block;
    color: #92999f;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-responsive .footer-icons {
    margin-top: 25px;
}

.footer-responsive .footer-icons a {
    display: inline-block;
    width: 37.5px;
    height: 36.5px;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 50%;
    /* font-size: 20px; */
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0px;
}

.footer-responsive .footer-icons a:hover {
    background-color: steelblue;
    border: 2px solid steelblue;

}

.footer-links a:hover {
    color: steelblue;
}

@media(max-width:880px) {

    .footer-responsive .footer-links,
    .footer-responsive .footer-center,
    .footer-responsive .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center
    }

    .address,
    .phone,
    .email {
        margin-left: 0;
    }

}