/* banner */
body {
    background-color: rgb(218, 236, 250);
    font-family: 'Cairo', sans-serif;
}

.banner {
    background-image: url("img/bg1.webp");
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    background-position: center;
    background-size: contain;


}

/* Program Names/Descriptions */
h1 {
    text-align: center;
    font-size: 4rem;
    margin: 20px;

}

.program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    margin-top: 50px;

}

.program img {
    width: 250px;
    border-radius: 10px;
}

.program h2 {
    font-size: 3rem;
}

.program h3 {
    padding-bottom: 20px;
    font-size: 30px;
    font-style: italic;

}

.program p {
    font-size: 20px;
    width: 85%;
    font-weight: 500;

}

.mini {
    font-weight: 900;
    color: rgb(42, 119, 145);
    font-size: 25px;
}

.program button {
    font-size: 25px;
    width: 8vw;
    height: 5vh;
    border: solid 2px;
    border-color: rgb(43, 116, 226);
    border-radius: 15px;
    background-color: rgb(225, 229, 0);

}

@media screen and (max-width:1200px) {
    h1 {
        font-size: 85px;
    }

    .program img {
        width: 30vw;
    }

    .program h2 {
        font-size: 55px;
    }

    .program p {
        font-size: 35px;
    }

    .program h3 {

        font-size: 40px;
    }

    .program button {
        width: 15vw;
        height: 4vh;
        font-size: 40px;
    }
}

@media screen and (max-width:850px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 80px;
    }

    .program h2 {
        text-align: center;
        font-size: 65px;
    }

    .program h3 {
        text-align: center;
        font-size: 40px;
    }

    .program p {
        text-align: center;
        font-size: 30px;
    }

    .program button {
        width: 10rem;
        height: 6vw;
        font-size: 30px;
    }
}

/* MID */
@media screen and (max-width:500px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .banner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }

    h1 {
        font-size: 60px;
    }

    .program img {
        width: 50vw;
    }

    .program h2 {
        font-size: 50px;
    }

    .program h3 {
        font-size: 30px;
    }

    .program p {
        width: 90vw;
        height: 50vh;
        font-size: 20px;
    }

    .program button {
        width: 30vw;
        height: 8vh;
    }
}

/* MOBILE */
@media screen and (max-width:380px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .banner {
        height: 25vh;
    }

    h1 {
        font-size: 45px;
    }

    .program h2 {
        font-size: 40px;
        margin: 20px;
        ;


    }

    .program h3 {
        font-size: 22px;
        font-weight: 535;
        text-align: center;
    }

    .program p {
        font-size: 15px;
        width: 95vw;
        height: 60vh;
        text-align: center;
    }

    .program button {
        font-size: 25px;

    }
}